.header-container {
	height: 150px;
	background-color: #9cb535;
}

.logo {
	padding: 20px 10px 5px 20px;
}

.page-name {
    font-size: 34px;
    padding-left: 20px;
    padding-top: 85px;
    font-family: Baskerville;
    position: absolute;
    color: white;
    display: inline-block;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.navbar-float {
	width: 500px;
	height: 40px;
	float: right;
	margin-top: 100px;
}

.navbar-button {
	display: inline;
	padding: 150px 22px 32px 20px;
}

.navbar-button:hover, .active-nav {
	background-color: #666;
    color: white;
}

#custom-suggestion-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 25px;
}

#custom-suggestion-input input{
    border: 0;
    box-shadow: none;
    margin: 0 auto;
    margin-left: 
}

#suggestion-bar-title {
	margin-top: 30px;
}

#custom-suggestion-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-suggestion-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-suggestion-input .glyphicon-send{
    font-size: 23px;
    color: #666;
}

.text-color {
    color: #666;
}