.header-container {
	height: 150px;
	background-color: #9cb535;
}

.logo {
	padding: 20px 10px 5px 20px;
}

.page-name {
	font-size: 28px;
	padding-left: 110px;
	position: absolute;
	color: white;
}

a {
	color: white;
}

a:hover {
	color: white;
	text-decoration: none;
}

.navbar-float {
	width: 500px;
	height: 40px;
	float: right;
	margin-top: 100px;
}

.navbar-button {
	display: inline;
	padding: 150px 22px 32px 20px;
}

.navbar-button:hover, .active-nav {
	background-color: #666;
	color: white;
}

.about-text {
	color: #666;
}

.about-text-size {
	font-size: 16px;
}
